flow.json
[{"id":"a6f2d17c.e7d4f","type":"tab","label":"Hive SLR2 (V0.2)","disabled":true,"info":""},{"id":"e0ec06b1.de3118","type":"mqtt in","z":"a6f2d17c.e7d4f","name":"","topic":"zigbee2mqtt/Boiler Controller SLR2","qos":"2","datatype":"json","broker":"f5594d13.23bec","x":200,"y":200,"wires":[["a4b727c5.aeef48"]]},{"id":"a4b727c5.aeef48","type":"split","z":"a6f2d17c.e7d4f","name":"SplitKeys","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":220,"y":380,"wires":[["5f472636.d90358"]]},{"id":"5f472636.d90358","type":"switch","z":"a6f2d17c.e7d4f","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"linkquality","vt":"str"},{"t":"eq","v":"local_temperature_heat","vt":"str"},{"t":"eq","v":"occupied_heating_setpoint_heat","vt":"str"},{"t":"eq","v":"occupied_heating_setpoint_water","vt":"str"},{"t":"eq","v":"running_state_heat","vt":"str"},{"t":"eq","v":"running_state_water","vt":"str"},{"t":"eq","v":"system_mode","vt":"str"},{"t":"eq","v":"temperature_setpoint_hold_heat","vt":"str"},{"t":"eq","v":"temperature_setpoint_hold_water","vt":"str"},{"t":"eq","v":"system_mode_heat","vt":"str"},{"t":"eq","v":"system_mode_water","vt":"str"}],"checkall":"true","repair":false,"outputs":11,"x":410,"y":380,"wires":[["2832a92e.5f68f6"],["e22772b8.ce655"],["181189c4.5b53d6"],["82a366b9.6d6928"],["ebe8dc4f.6a1c5"],["25f81524.9ef0ca"],["429f65a0.26edac"],["496092f4.d36edc"],["8bb08f66.ed81b"],["1637d536.60462b"],["5314154c.67210c"]]},{"id":"3af96982.d731c6","type":"ui_gauge","z":"a6f2d17c.e7d4f","name":"Thermostat Temp Gauge","group":"5e36e134.8d434","order":1,"width":6,"height":4,"gtype":"gage","title":"Thermostat Temp","label":"","format":"{{local_temperature_heat}}","min":0,"max":"30","colors":["#a9402d","#e6e600","#3acb4a"],"seg1":"17.7","seg2":"20.5","x":250,"y":680,"wires":[]},{"id":"47ba851.5fda97c","type":"ui_text","z":"a6f2d17c.e7d4f","group":"5e36e134.8d434","order":2,"width":6,"height":1,"name":"Thermostat Temp","label":"Thermostat Temp","format":"{{value | number:2}} &deg","layout":"row-spread","x":230,"y":720,"wires":[]},{"id":"2b321f5d.73c","type":"inject","z":"a6f2d17c.e7d4f","name":"CH system_mode (payload)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"{\"system_mode_heat\": \"\"}","payloadType":"str","x":200,"y":160,"wires":[["1473db46.2cc8b5"]]},{"id":"cef3d9c3.a5fee8","type":"ui_text","z":"a6f2d17c.e7d4f","group":"20d8a650.22ff5a","order":1,"width":6,"height":1,"name":"occupied_heating_setpoint_heat","label":"CH Thermostat Setpoint","format":"{{value}} &deg","layout":"row-spread","x":270,"y":800,"wires":[]},{"id":"f68b1c26.9ec5b","type":"ui_text","z":"a6f2d17c.e7d4f","group":"20d8a650.22ff5a","order":2,"width":6,"height":1,"name":"running_state_heat","label":"CH State","format":"{{value}}","layout":"row-spread","x":230,"y":960,"wires":[]},{"id":"8311261.8b65ed8","type":"ui_text","z":"a6f2d17c.e7d4f","group":"370859af.f6e036","order":1,"width":6,"height":1,"name":"occupied_heating_setpoint_water","label":"HW Thermostat Setting?","format":"{{value}} &deg","layout":"row-spread","x":1160,"y":800,"wires":[]},{"id":"853976f7.80d658","type":"ui_text","z":"a6f2d17c.e7d4f","group":"370859af.f6e036","order":2,"width":6,"height":1,"name":"running_state_water","label":"HW State","format":"{{value}}","layout":"row-spread","x":1120,"y":960,"wires":[]},{"id":"97028c34.7e597","type":"ui_slider","z":"a6f2d17c.e7d4f","name":"","label":"CH Thermostat","tooltip":"","group":"5e36e134.8d434","order":4,"width":6,"height":2,"passthru":false,"outs":"end","topic":"","min":"1","max":"30","step":"0.5","x":220,"y":860,"wires":[["fc29d529.601cf8"]]},{"id":"bddbf560.023148","type":"mqtt out","z":"a6f2d17c.e7d4f","name":"Controller/heat/set/occupied_heating_setpoint","topic":"zigbee2mqtt/Boiler Controller SLR2/heat/set/occupied_heating_setpoint","qos":"","retain":"","broker":"f5594d13.23bec","x":1300,"y":240,"wires":[]},{"id":"38827025.7db5a","type":"ui_dropdown","z":"a6f2d17c.e7d4f","name":"Set System Mode","label":"","tooltip":"","place":"Set System Mode","group":"5e36e134.8d434","order":7,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"Off","value":"off","type":"str"},{"label":"Auto","value":"auto","type":"str"},{"label":"Heat","value":"heat","type":"str"}],"payload":"","topic":"","x":230,"y":1140,"wires":[["32bc53ad.0f9eec"]]},{"id":"9446519.32011b","type":"mqtt out","z":"a6f2d17c.e7d4f","name":"Controller/heat/set/system_mode","topic":"zigbee2mqtt/Boiler Controller SLR2/heat/set/system_mode","qos":"","retain":"","broker":"f5594d13.23bec","x":1260,"y":300,"wires":[]},{"id":"536f48c5.ff1ae8","type":"ui_text","z":"a6f2d17c.e7d4f","group":"5e36e134.8d434","order":6,"width":6,"height":1,"name":"system_mode","label":"system_mode","format":"{{value}}","layout":"row-spread","x":220,"y":1100,"wires":[]},{"id":"d2aa7911.304918","type":"ui_text","z":"a6f2d17c.e7d4f","group":"370859af.f6e036","order":5,"width":6,"height":1,"name":"system_mode_water","label":"system_mode_water","format":"{{value}}","layout":"row-spread","x":1140,"y":1300,"wires":[]},{"id":"b364c265.9002","type":"ui_text","z":"a6f2d17c.e7d4f","group":"20d8a650.22ff5a","order":5,"width":6,"height":1,"name":"system_mode_heat","label":"system_mode_heat","format":"{{value}}","layout":"row-spread","x":250,"y":1300,"wires":[]},{"id":"36c3b6ae.e3b66a","type":"ui_dropdown","z":"a6f2d17c.e7d4f","name":"Set System Mode","label":"","tooltip":"","place":"Set System Heat Mode","group":"20d8a650.22ff5a","order":6,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"Off","value":"off","type":"str"},{"label":"Auto","value":"auto","type":"str"},{"label":"Manual","value":"heat","type":"str"}],"payload":"","topic":"","x":250,"y":1340,"wires":[["be7d79f1.3c51d8"]]},{"id":"70c38beb.58b864","type":"ui_dropdown","z":"a6f2d17c.e7d4f","name":"Set System Mode","label":"","tooltip":"","place":"Set System WaterMode","group":"370859af.f6e036","order":6,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"Off","value":"off","type":"str"},{"label":"Auto","value":"auto","type":"str"},{"label":"Heat","value":"heat","type":"str"}],"payload":"","topic":"","x":1130,"y":1340,"wires":[["93df3abb.2f8068"]]},{"id":"be7d79f1.3c51d8","type":"function","z":"a6f2d17c.e7d4f","name":"System Heat Payload","func":"var value = msg.payload;\nmsg.payload = {\"system_mode_heat\": value}\nmsg.value = value\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":1340,"wires":[["a4bde2a9.0b7f7","9975956a.160c08","594260f.273cfa"]]},{"id":"93df3abb.2f8068","type":"function","z":"a6f2d17c.e7d4f","name":"System Water Payload","func":"var value = msg.payload;\nmsg.value = value\nmsg.payload = {\"system_mode_water\": value}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":1340,"wires":[["3a7c9ef.9108c62","83a85f12.8243","b3473869.199be8"]]},{"id":"9975956a.160c08","type":"function","z":"a6f2d17c.e7d4f","name":"Get CH Mode Payload","func":"var value = msg.payload;\nmsg.payload = {\"system_mode_heat\": \"\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":1420,"wires":[["90440442.35f818"]]},{"id":"83a85f12.8243","type":"function","z":"a6f2d17c.e7d4f","name":"Get HW Mode Payload","func":"var value = msg.payload;\nmsg.payload = {\"system_mode_water\": \"\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1420,"wires":[["9e045825.78a738"]]},{"id":"7745b4db.b9a21c","type":"mqtt out","z":"a6f2d17c.e7d4f","name":"Controller/get","topic":"zigbee2mqtt/Boiler Controller SLR2/get","qos":"","retain":"","broker":"f5594d13.23bec","x":1200,"y":120,"wires":[],"info":"zigbee2mqtt/Boiler Controller SLR2/heat/set   = topic\n\nthen set on zigbee2mqtt gui works..."},{"id":"3a7c9ef.9108c62","type":"function","z":"a6f2d17c.e7d4f","name":"Temperature SP Water Payload","func":"if (msg.value === \"off\") {\n    msg.payload = '{\"temperature_setpoint_hold_water\": \"0\"}';\n} else {\n    msg.payload = '{\"temperature_setpoint_hold_water\": \"1\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":1480,"wires":[["4881eded.84d7b4"]]},{"id":"14e944c1.011dbb","type":"mqtt out","z":"a6f2d17c.e7d4f","name":"Controller/set","topic":"zigbee2mqtt/Boiler Controller SLR2/set","qos":"","retain":"","broker":"f5594d13.23bec","x":1190,"y":180,"wires":[],"info":"zigbee2mqtt/Boiler Controller SLR2/heat/set   = topic\n\nthen set on zigbee2mqtt gui works..."},{"id":"662616e3.6afab8","type":"ui_text","z":"a6f2d17c.e7d4f","group":"20d8a650.22ff5a","order":4,"width":6,"height":1,"name":"temperature_setpoint_hold_heat","label":"temperature_setpoint_hold_heat","format":"{{value}}","layout":"row-spread","x":270,"y":1000,"wires":[]},{"id":"d8d72d54.57b4e","type":"ui_text","z":"a6f2d17c.e7d4f","group":"370859af.f6e036","order":4,"width":6,"height":1,"name":"temperature_setpoint_hold_water","label":"temperature_setpoint_hold_water","format":"{{value}}","layout":"row-spread","x":1160,"y":1000,"wires":[]},{"id":"2832a92e.5f68f6","type":"ui_text","z":"a6f2d17c.e7d4f","group":"5e36e134.8d434","order":3,"width":6,"height":1,"name":"LQI","label":"LQI","format":"{{value}}","layout":"row-spread","x":630,"y":180,"wires":[]},{"id":"a4bde2a9.0b7f7","type":"function","z":"a6f2d17c.e7d4f","name":"Temperature SP Heat Payload","func":"if (msg.value === \"off\") {\n    msg.payload = '{\"temperature_setpoint_hold_heat\": \"0\"}';\n} else {\n    msg.payload = '{\"temperature_setpoint_hold_heat\": \"1\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":1480,"wires":[["b1c5779f.8feba8"]]},{"id":"9e045825.78a738","type":"link out","z":"a6f2d17c.e7d4f","name":"Controller/get","links":["2ea31a29.06d896"],"x":1315,"y":1420,"wires":[]},{"id":"2ea31a29.06d896","type":"link in","z":"a6f2d17c.e7d4f","name":"Controller/get","links":["9e045825.78a738","90440442.35f818","1473db46.2cc8b5"],"x":1035,"y":120,"wires":[["7745b4db.b9a21c"]]},{"id":"90440442.35f818","type":"link out","z":"a6f2d17c.e7d4f","name":"Controller/get","links":["2ea31a29.06d896"],"x":415,"y":1420,"wires":[]},{"id":"4881eded.84d7b4","type":"link out","z":"a6f2d17c.e7d4f","name":"Controller/set","links":["36e47ddd.0d0b82"],"x":1375,"y":1480,"wires":[]},{"id":"36e47ddd.0d0b82","type":"link in","z":"a6f2d17c.e7d4f","name":"Controller/set","links":["4881eded.84d7b4","b1c5779f.8feba8","b3473869.199be8","594260f.273cfa"],"x":1035,"y":180,"wires":[["14e944c1.011dbb"]]},{"id":"b1c5779f.8feba8","type":"link out","z":"a6f2d17c.e7d4f","name":"Controller/set","links":["36e47ddd.0d0b82"],"x":495,"y":1480,"wires":[]},{"id":"b3473869.199be8","type":"link out","z":"a6f2d17c.e7d4f","name":"Controller/set","links":["36e47ddd.0d0b82","cb4000af.7183b"],"x":1535,"y":1340,"wires":[]},{"id":"594260f.273cfa","type":"link out","z":"a6f2d17c.e7d4f","name":"Controller/set","links":["36e47ddd.0d0b82"],"x":655,"y":1340,"wires":[]},{"id":"1473db46.2cc8b5","type":"link out","z":"a6f2d17c.e7d4f","name":"Controller/get","links":["2ea31a29.06d896"],"x":415,"y":160,"wires":[]},{"id":"a5965769.3daf48","type":"ui_button","z":"a6f2d17c.e7d4f","name":"","group":"20d8a650.22ff5a","order":11,"width":0,"height":0,"passthru":false,"label":"CH ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"heat","payloadType":"str","topic":"","x":180,"y":1600,"wires":[["be7d79f1.3c51d8","145872c1.4cf83d"]]},{"id":"36c8df0f.234f1","type":"ui_button","z":"a6f2d17c.e7d4f","name":"","group":"370859af.f6e036","order":11,"width":0,"height":0,"passthru":false,"label":"HW ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"heat","payloadType":"str","topic":"","x":1060,"y":1600,"wires":[["93df3abb.2f8068"]]},{"id":"9a71c212.c395e","type":"ui_button","z":"a6f2d17c.e7d4f","name":"","group":"370859af.f6e036","order":12,"width":0,"height":0,"passthru":false,"label":"HW OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":1060,"y":1640,"wires":[["93df3abb.2f8068"]]},{"id":"ee192285.52baa","type":"ui_button","z":"a6f2d17c.e7d4f","name":"","group":"20d8a650.22ff5a","order":12,"width":0,"height":0,"passthru":false,"label":"CH OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":180,"y":1640,"wires":[["be7d79f1.3c51d8","145872c1.4cf83d"]]},{"id":"145872c1.4cf83d","type":"function","z":"a6f2d17c.e7d4f","name":"Create Thermostat  Payload","func":"if (msg.payload === \"heat\") {\n    msg.payload = 24;\n} else {\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":1700,"wires":[["afc6baab.5f68d8"]]},{"id":"afc6baab.5f68d8","type":"delay","z":"a6f2d17c.e7d4f","name":"Delay Therm Payload","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":1700,"wires":[["3410458a.53d05a"]]},{"id":"e5fb5ebc.e59b","type":"mqtt out","z":"a6f2d17c.e7d4f","name":"publish to domoticz/in","topic":"domoticz/in","qos":"","retain":"","broker":"f5594d13.23bec","x":1460,"y":1800,"wires":[]},{"id":"4edaba0a.801bb4","type":"template","z":"a6f2d17c.e7d4f","name":"idx 884 json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"command\" : \"udevice\",\n\"idx\" : 884,\n\"nvalue\" : 0,\n\"svalue\" : \"HiveSP\"\n}","output":"str","x":730,"y":2000,"wires":[["8fa36a5f.8e6d28"]]},{"id":"58a71be7.b4ae84","type":"json","z":"a6f2d17c.e7d4f","name":"","property":"payload","action":"","pretty":false,"x":1150,"y":2000,"wires":[["e5fb5ebc.e59b"]]},{"id":"f88b29dd.f47b08","type":"change","z":"a6f2d17c.e7d4f","name":"","rules":[{"t":"set","p":"HiveSP","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2000,"wires":[["4edaba0a.801bb4"]]},{"id":"8fa36a5f.8e6d28","type":"change","z":"a6f2d17c.e7d4f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"HiveSP","fromt":"str","to":"HiveSP","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":2000,"wires":[["58a71be7.b4ae84"]]},{"id":"c7af5361.46a75","type":"change","z":"a6f2d17c.e7d4f","name":"","rules":[{"t":"set","p":"HW_State","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":2100,"wires":[["48a69602.0c6f78"]]},{"id":"48a69602.0c6f78","type":"template","z":"a6f2d17c.e7d4f","name":"idx 85 json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"command\" : \"switchlight\",\n\"idx\" : 853,\n\"switchcmd\" : \"HW_State\"\n}","output":"str","x":810,"y":2100,"wires":[["6c720dc7.8aac54"]],"info":"old\n\n{\n\"command\" : \"udevice\",\n\"idx\" : 853,\n\"nvalue\" : HW_State,\n\"svalue\" :\"\"\n}"},{"id":"6c720dc7.8aac54","type":"change","z":"a6f2d17c.e7d4f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"HW_State","fromt":"str","to":"HW_State","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":2100,"wires":[["e0fea188.7351d"]]},{"id":"e0fea188.7351d","type":"json","z":"a6f2d17c.e7d4f","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":2100,"wires":[["e5fb5ebc.e59b","3350f7c2.469c68"]]},{"id":"1637d536.60462b","type":"link out","z":"a6f2d17c.e7d4f","name":"system_mode_heat","links":["da64fb3e.b3ce88","fddde02d.ff846"],"x":595,"y":540,"wires":[]},{"id":"5314154c.67210c","type":"link out","z":"a6f2d17c.e7d4f","name":"system_mode_water","links":["911ec831.4ba6c8"],"x":615,"y":580,"wires":[]},{"id":"da64fb3e.b3ce88","type":"link in","z":"a6f2d17c.e7d4f","name":"system_mode_heat","links":["1637d536.60462b"],"x":75,"y":1300,"wires":[["b364c265.9002","36c3b6ae.e3b66a"]]},{"id":"911ec831.4ba6c8","type":"link in","z":"a6f2d17c.e7d4f","name":"system_mode_water","links":["5314154c.67210c"],"x":955,"y":1300,"wires":[["d2aa7911.304918","70c38beb.58b864"]]},{"id":"e7105158.ed7f4","type":"link in","z":"a6f2d17c.e7d4f","name":"system_mode_water","links":["25f81524.9ef0ca"],"x":95,"y":2100,"wires":[["eaf4fea2.8a09"]]},{"id":"1914d8df.1be037","type":"comment","z":"a6f2d17c.e7d4f","name":"Domoticz - HW Relay State (switch device idx 853)","info":"","x":270,"y":2060,"wires":[]},{"id":"caf8b06a.2d952","type":"function","z":"a6f2d17c.e7d4f","name":"off/heat -> 0/1","func":"if (msg.payload === \"idle\") {\n    msg.payload = \"Off\";\n} else {\n    msg.payload = \"On\";\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":2100,"wires":[["c7af5361.46a75"]],"info":"Old\n\nif (msg.payload === \"idle\") {\n    msg.payload = 0;\n} else {\n    msg.payload = 1;\n}\nreturn msg;\n\n\n\nnext\n\nif (msg.payload === \"idle\") {\n    msg.payload = \"Off\";\n} else {\n    msg.payload = \"On\";\n}\nreturn msg;"},{"id":"3350f7c2.469c68","type":"debug","z":"a6f2d17c.e7d4f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1570,"y":1860,"wires":[]},{"id":"181189c4.5b53d6","type":"link out","z":"a6f2d17c.e7d4f","name":"occupied_heating_setpoint_heat","links":["f2d4b7b3.38e368","9d8ab8ef.025cc8"],"x":595,"y":260,"wires":[]},{"id":"f2d4b7b3.38e368","type":"link in","z":"a6f2d17c.e7d4f","name":"","links":["181189c4.5b53d6"],"x":75,"y":840,"wires":[["cef3d9c3.a5fee8","97028c34.7e597"]]},{"id":"9d8ab8ef.025cc8","type":"link in","z":"a6f2d17c.e7d4f","name":"","links":["181189c4.5b53d6"],"x":95,"y":2000,"wires":[["5c020617.58f4e8"]]},{"id":"d9a2756e.1ef8f8","type":"comment","z":"a6f2d17c.e7d4f","name":"Domoticz - Hive Thermostat SP (device idx 884)","info":"","x":260,"y":1960,"wires":[]},{"id":"d13fb72a.5d7158","type":"function","z":"a6f2d17c.e7d4f","name":"off/heat -> 0/1","func":"if (msg.payload === \"idle\") {\n    msg.payload = \"Off\";\n} else {\n    msg.payload = \"On\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":2200,"wires":[["526b2ab6.9b6de4"]]},{"id":"526b2ab6.9b6de4","type":"change","z":"a6f2d17c.e7d4f","name":"","rules":[{"t":"set","p":"CH_State","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":2200,"wires":[["4823d93b.a254d8"]]},{"id":"4823d93b.a254d8","type":"template","z":"a6f2d17c.e7d4f","name":"idx 852 json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"command\" : \"switchlight\",\n\"idx\" : 852,\n\"switchcmd\" : \"CH_State\"\n}","output":"str","x":810,"y":2200,"wires":[["3ea30713.314318"]],"info":"Old\n\n{\n\"command\" : \"udevice\",\n\"idx\" : 852,\n\"nvalue\" : CH_State,\n\"svalue\" :\"\"\n}"},{"id":"3ea30713.314318","type":"change","z":"a6f2d17c.e7d4f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"CH_State","fromt":"str","to":"CH_State","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":2200,"wires":[["f95d531f.c20fa"]]},{"id":"f95d531f.c20fa","type":"json","z":"a6f2d17c.e7d4f","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":2200,"wires":[["e5fb5ebc.e59b","3350f7c2.469c68"]]},{"id":"351eebe6.8c9964","type":"comment","z":"a6f2d17c.e7d4f","name":"Domoticz - CH Relay State (switch device idx 852)","info":"","x":270,"y":2160,"wires":[]},{"id":"ebe8dc4f.6a1c5","type":"link out","z":"a6f2d17c.e7d4f","name":"running_state_heat","links":["5ff2e702.a98ce8","711d513c.fc606"],"x":595,"y":340,"wires":[]},{"id":"5ff2e702.a98ce8","type":"link in","z":"a6f2d17c.e7d4f","name":"","links":["ebe8dc4f.6a1c5"],"x":75,"y":960,"wires":[["f68b1c26.9ec5b"]]},{"id":"25f81524.9ef0ca","type":"link out","z":"a6f2d17c.e7d4f","name":"running_state_water","links":["cad38d61.e7b1","e7105158.ed7f4"],"x":615,"y":380,"wires":[]},{"id":"cad38d61.e7b1","type":"link in","z":"a6f2d17c.e7d4f","name":"","links":["25f81524.9ef0ca"],"x":955,"y":960,"wires":[["853976f7.80d658"]]},{"id":"711d513c.fc606","type":"link in","z":"a6f2d17c.e7d4f","name":"system_mode_water","links":["ebe8dc4f.6a1c5"],"x":95,"y":2200,"wires":[["bdaca84c.cce788"]]},{"id":"eaf4fea2.8a09","type":"rbe","z":"a6f2d17c.e7d4f","name":"Change?","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":220,"y":2100,"wires":[["caf8b06a.2d952"]]},{"id":"bdaca84c.cce788","type":"rbe","z":"a6f2d17c.e7d4f","name":"Change?","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":220,"y":2200,"wires":[["d13fb72a.5d7158"]]},{"id":"5c020617.58f4e8","type":"rbe","z":"a6f2d17c.e7d4f","name":"Change?","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":220,"y":2000,"wires":[["f88b29dd.f47b08"]]},{"id":"343889ab.f875d6","type":"change","z":"a6f2d17c.e7d4f","name":"","rules":[{"t":"set","p":"HiveTemp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1900,"wires":[["b8292da0.6f02e"]]},{"id":"b8292da0.6f02e","type":"template","z":"a6f2d17c.e7d4f","name":"idx 891 json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"command\" : \"udevice\",\n\"idx\" : 891,\n\"nvalue\" : 0,\n\"svalue\" : \"HiveTemp\"\n}","output":"str","x":730,"y":1900,"wires":[["60b8cdd9.f1a714"]]},{"id":"60b8cdd9.f1a714","type":"change","z":"a6f2d17c.e7d4f","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"HiveTemp","fromt":"str","to":"HiveTemp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1900,"wires":[["dec7a60c.cd8c98"]]},{"id":"dec7a60c.cd8c98","type":"json","z":"a6f2d17c.e7d4f","name":"","property":"payload","action":"","pretty":false,"x":1150,"y":1900,"wires":[["e5fb5ebc.e59b"]]},{"id":"e22772b8.ce655","type":"link out","z":"a6f2d17c.e7d4f","name":"local_temperature_heat","links":["d736b7d7.d5c398","41ae86ea.3d03e8"],"x":595,"y":220,"wires":[]},{"id":"d736b7d7.d5c398","type":"link in","z":"a6f2d17c.e7d4f","name":"","links":["e22772b8.ce655"],"x":75,"y":700,"wires":[["3af96982.d731c6","47ba851.5fda97c"]]},{"id":"41ae86ea.3d03e8","type":"link in","z":"a6f2d17c.e7d4f","name":"","links":["e22772b8.ce655"],"x":95,"y":1900,"wires":[["343889ab.f875d6"]]},{"id":"91d8d60e.ef7ff8","type":"comment","z":"a6f2d17c.e7d4f","name":"Domoticz - Hive Temperature (device idx 891)","info":"","x":250,"y":1860,"wires":[]},{"id":"75c2294b.f26138","type":"comment","z":"a6f2d17c.e7d4f","name":"Hive SLR2/SLT2 zigbee2mqtt node-red testing flow (V0.2)","info":"","x":230,"y":40,"wires":[]},{"id":"8e54e0d5.0e862","type":"comment","z":"a6f2d17c.e7d4f","name":"local_temperature_heat","info":"","x":720,"y":220,"wires":[]},{"id":"3362c992.b598f6","type":"comment","z":"a6f2d17c.e7d4f","name":"occupied_heating_setpoint_heat","info":"","x":750,"y":260,"wires":[]},{"id":"ac444a23.383798","type":"comment","z":"a6f2d17c.e7d4f","name":"running_state_water","info":"","x":730,"y":380,"wires":[]},{"id":"5c978788.05ff88","type":"link in","z":"a6f2d17c.e7d4f","name":"Controller/heat/set/occupied_heating_setpoint","links":["3410458a.53d05a","fc29d529.601cf8"],"x":1035,"y":240,"wires":[["bddbf560.023148"]]},{"id":"3410458a.53d05a","type":"link out","z":"a6f2d17c.e7d4f","name":"Controller/heat/set/occupied_heating_setpoint","links":["5c978788.05ff88"],"x":675,"y":1700,"wires":[]},{"id":"fc29d529.601cf8","type":"link out","z":"a6f2d17c.e7d4f","name":"Controller/heat/set/occupied_heating_setpoint","links":["5c978788.05ff88"],"x":355,"y":860,"wires":[]},{"id":"2397bdd8.38fae2","type":"comment","z":"a6f2d17c.e7d4f","name":"running_state_heat","info":"","x":710,"y":340,"wires":[]},{"id":"b475d0d7.e33a2","type":"comment","z":"a6f2d17c.e7d4f","name":"system_mode_heat","info":"","x":710,"y":540,"wires":[]},{"id":"395e355e.3ec8ca","type":"comment","z":"a6f2d17c.e7d4f","name":"system_mode_water","info":"","x":730,"y":580,"wires":[]},{"id":"429f65a0.26edac","type":"link out","z":"a6f2d17c.e7d4f","name":"system_mode","links":["4f9ab4e4.9391fc"],"x":595,"y":500,"wires":[]},{"id":"7cf4580e.ed7618","type":"comment","z":"a6f2d17c.e7d4f","name":"system_mode","info":"","x":690,"y":500,"wires":[]},{"id":"4f9ab4e4.9391fc","type":"link in","z":"a6f2d17c.e7d4f","name":"system_mode","links":["429f65a0.26edac"],"x":75,"y":1100,"wires":[["536f48c5.ff1ae8","38827025.7db5a"]]},{"id":"496092f4.d36edc","type":"link out","z":"a6f2d17c.e7d4f","name":"temperature_setpoint_hold_heat","links":["4ceb1ab3.598bf4"],"x":595,"y":420,"wires":[]},{"id":"71ec98ee.bb8e88","type":"comment","z":"a6f2d17c.e7d4f","name":"temperature_setpoint_hold_heat","info":"","x":750,"y":420,"wires":[]},{"id":"8bb08f66.ed81b","type":"link out","z":"a6f2d17c.e7d4f","name":"temperature_setpoint_hold_water","links":["9230153c.7f1518"],"x":615,"y":460,"wires":[]},{"id":"87883efc.2120b","type":"comment","z":"a6f2d17c.e7d4f","name":"temperature_setpoint_hold_water","info":"","x":770,"y":460,"wires":[]},{"id":"9230153c.7f1518","type":"link in","z":"a6f2d17c.e7d4f","name":"temperature_setpoint_hold_water","links":["8bb08f66.ed81b"],"x":955,"y":1000,"wires":[["d8d72d54.57b4e"]]},{"id":"4ceb1ab3.598bf4","type":"link in","z":"a6f2d17c.e7d4f","name":"temperature_setpoint_hold_heat","links":["496092f4.d36edc"],"x":75,"y":1000,"wires":[["662616e3.6afab8"]]},{"id":"82a366b9.6d6928","type":"link out","z":"a6f2d17c.e7d4f","name":"occupied_heating_setpoint_water","links":["cb4000af.7183b"],"x":615,"y":300,"wires":[]},{"id":"1e7d49a1.4c2806","type":"comment","z":"a6f2d17c.e7d4f","name":"occupied_heating_setpoint_water","info":"","x":770,"y":300,"wires":[]},{"id":"cb4000af.7183b","type":"link in","z":"a6f2d17c.e7d4f","name":"occupied_heating_setpoint_water","links":["b3473869.199be8","82a366b9.6d6928"],"x":955,"y":800,"wires":[["8311261.8b65ed8"]]},{"id":"d47bf802.b93b48","type":"comment","z":"a6f2d17c.e7d4f","name":"Domoticz device handlers below here - (flows may be removed if Domoticz not used)","info":"","x":370,"y":1800,"wires":[]},{"id":"8871f32f.0b966","type":"comment","z":"a6f2d17c.e7d4f","name":"Heat and Hot Water On/Off buttons - trigger relevant mqqt messages","info":"","x":660,"y":1600,"wires":[]},{"id":"4cad0622.019948","type":"comment","z":"a6f2d17c.e7d4f","name":"CH and HW system_mode","info":"","x":690,"y":1300,"wires":[]},{"id":"c80f4c19.dfa78","type":"comment","z":"a6f2d17c.e7d4f","name":"Display CH and HW Thermostat Sliders","info":"","x":590,"y":800,"wires":[]},{"id":"35ac8f62.e761e","type":"comment","z":"a6f2d17c.e7d4f","name":"Display Thermostat Temperature Gauge and Value","info":"","x":590,"y":680,"wires":[]},{"id":"109bd9db.602d16","type":"comment","z":"a6f2d17c.e7d4f","name":"set system_mode - off/auto/heat","info":"","x":530,"y":1100,"wires":[]},{"id":"f406d5a2.6f1c28","type":"link in","z":"a6f2d17c.e7d4f","name":"Controller/heat/set/system_mode","links":["32bc53ad.0f9eec"],"x":1035,"y":300,"wires":[["9446519.32011b"]]},{"id":"32bc53ad.0f9eec","type":"link out","z":"a6f2d17c.e7d4f","name":"Controller/heat/set/system_mode","links":["f406d5a2.6f1c28"],"x":375,"y":1140,"wires":[]},{"id":"bd2a44f7.641908","type":"comment","z":"a6f2d17c.e7d4f","name":"Display CH and HW running_state and temperature_setpoint_hold values","info":"","x":660,"y":960,"wires":[]},{"id":"78c73bef.2a0f64","type":"comment","z":"a6f2d17c.e7d4f","name":"mqqt publish topics (set mqqt details here)","info":"","x":1180,"y":60,"wires":[]},{"id":"d8b24c3a.e5f14","type":"comment","z":"a6f2d17c.e7d4f","name":"mqqt subscribe topics (set mqqt details here)","info":"","x":230,"y":100,"wires":[]},{"id":"f5594d13.23bec","type":"mqtt-broker","name":"mqtt-broker","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5e36e134.8d434","type":"ui_group","name":"SLR2/SLT2","tab":"8e7d6bfd.e7b288","order":1,"disp":true,"width":"6","collapse":false},{"id":"20d8a650.22ff5a","type":"ui_group","name":"CH","tab":"8e7d6bfd.e7b288","order":2,"disp":true,"width":"6","collapse":false},{"id":"370859af.f6e036","type":"ui_group","name":"HW","tab":"8e7d6bfd.e7b288","order":3,"disp":true,"width":"6","collapse":false},{"id":"8e7d6bfd.e7b288","type":"ui_tab","name":"CH/HW Controller","icon":"dashboard","order":8,"disabled":false,"hidden":false}]
