flow.json
[{"id":"f8b59cc.d908b6","type":"tab","label":"Hive SLR2-SLT2/3 (V0.5)","disabled":false,"info":""},{"id":"44b9ebb9.e0c494","type":"mqtt in","z":"f8b59cc.d908b6","name":"","topic":"zigbee2mqtt/Boiler Controller SLR2T","qos":"2","datatype":"auto","broker":"","x":200,"y":220,"wires":[["f6b0f141.7483e","80858aa3.6f3ef8"]]},{"id":"fc4ee16e.fc9e4","type":"split","z":"f8b59cc.d908b6","name":"SplitKeys","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":260,"y":380,"wires":[["63e467b6.c27dd8"]]},{"id":"63e467b6.c27dd8","type":"switch","z":"f8b59cc.d908b6","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"linkquality","vt":"str"},{"t":"eq","v":"local_temperature_heat","vt":"str"},{"t":"eq","v":"occupied_heating_setpoint_heat","vt":"str"},{"t":"eq","v":"occupied_heating_setpoint_water","vt":"str"},{"t":"eq","v":"running_state_heat","vt":"str"},{"t":"eq","v":"running_state_water","vt":"str"},{"t":"eq","v":"system_mode","vt":"str"},{"t":"eq","v":"temperature_setpoint_hold_heat","vt":"str"},{"t":"eq","v":"temperature_setpoint_hold_water","vt":"str"},{"t":"eq","v":"system_mode_heat","vt":"str"},{"t":"eq","v":"system_mode_water","vt":"str"}],"checkall":"true","repair":false,"outputs":11,"x":410,"y":380,"wires":[["2742f165.26f9de"],["7c7ca26a.ea816c"],["d5e4abd7.9e5ca8"],["b98c86aa.8fd088"],["cc3d2d4e.27268"],["b03ac4f6.51dc18"],["668a36e6.471e58"],["c0168dc6.8894"],["918c87cb.215aa8"],["f79a48d4.cff018"],["6c982a26.2f2fe4"]]},{"id":"1e834703.3498d9","type":"ui_gauge","z":"f8b59cc.d908b6","name":"Thermostat Temp Gauge","group":"b20e4729.b93dd8","order":1,"width":6,"height":4,"gtype":"gage","title":"Thermostat Temp","label":"","format":"{{local_temperature_heat}}","min":0,"max":"30","colors":["#a9402d","#e6e600","#3acb4a"],"seg1":"17.7","seg2":"20.5","x":250,"y":740,"wires":[]},{"id":"9f1309c5.491c78","type":"ui_text","z":"f8b59cc.d908b6","group":"b20e4729.b93dd8","order":2,"width":6,"height":1,"name":"Thermostat Temp","label":"Thermostat Temp","format":"{{value | number:2}} &deg","layout":"row-spread","x":230,"y":780,"wires":[]},{"id":"cfaf3c9c.aeb62","type":"inject","z":"f8b59cc.d908b6","name":"CH system_mode (payload)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"{\"system_mode_heat\": \"\"}","payloadType":"str","x":200,"y":120,"wires":[["1eb2d4e8.cb780b"]]},{"id":"157b928c.79a3dd","type":"ui_text","z":"f8b59cc.d908b6","group":"36a77fc2.f1fd7","order":1,"width":6,"height":1,"name":"occupied_heating_setpoint_heat","label":"CH Thermostat Setpoint","format":"{{value}} &deg","layout":"row-spread","x":270,"y":860,"wires":[]},{"id":"d2321211.fb70c","type":"ui_text","z":"f8b59cc.d908b6","group":"36a77fc2.f1fd7","order":3,"width":6,"height":1,"name":"running_state_heat","label":"CH State","format":"{{value}}","layout":"row-spread","x":230,"y":1020,"wires":[]},{"id":"4f42bd10.c77974","type":"ui_text","z":"f8b59cc.d908b6","group":"dd5d5a72.667138","order":1,"width":6,"height":1,"name":"occupied_heating_setpoint_water","label":"HW Thermostat Setting?","format":"{{value}} &deg","layout":"row-spread","x":1160,"y":860,"wires":[]},{"id":"6fb5d3e6.1aaebc","type":"ui_text","z":"f8b59cc.d908b6","group":"dd5d5a72.667138","order":3,"width":6,"height":1,"name":"running_state_water","label":"HW State","format":"{{value}}","layout":"row-spread","x":1120,"y":1020,"wires":[]},{"id":"c7784dcf.56ee6","type":"ui_slider","z":"f8b59cc.d908b6","name":"","label":"CH Thermostat","tooltip":"","group":"36a77fc2.f1fd7","order":2,"width":6,"height":2,"passthru":false,"outs":"end","topic":"","min":"1","max":"30","step":"0.5","x":220,"y":920,"wires":[["45fac4f1.208c1c"]]},{"id":"759e9dbb.3110e4","type":"mqtt out","z":"f8b59cc.d908b6","name":"Controller/heat/set/occupied_heating_setpoint","topic":"zigbee2mqtt/Boiler Controller SLR2T/heat/set/occupied_heating_setpoint","qos":"","retain":"","broker":"","x":1300,"y":240,"wires":[]},{"id":"b220dec4.274da","type":"ui_dropdown","z":"f8b59cc.d908b6","name":"Set System Mode","label":"","tooltip":"","place":"Set System Mode","group":"b20e4729.b93dd8","order":6,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"Off","value":"off","type":"str"},{"label":"Auto","value":"auto","type":"str"},{"label":"Heat","value":"heat","type":"str"}],"payload":"","topic":"","x":230,"y":1200,"wires":[["a197b82d.d57938"]]},{"id":"ba56360b.ddefe8","type":"mqtt out","z":"f8b59cc.d908b6","name":"Controller/heat/set/system_mode","topic":"zigbee2mqtt/Boiler Controller SLR2T/heat/set/system_mode","qos":"","retain":"","broker":"","x":1260,"y":300,"wires":[]},{"id":"9a2ac925.1e2128","type":"ui_text","z":"f8b59cc.d908b6","group":"b20e4729.b93dd8","order":5,"width":6,"height":1,"name":"system_mode","label":"system_mode","format":"{{value}}","layout":"row-spread","x":220,"y":1160,"wires":[]},{"id":"a59afd0c.26897","type":"ui_text","z":"f8b59cc.d908b6","group":"dd5d5a72.667138","order":5,"width":6,"height":1,"name":"system_mode_water","label":"system_mode_water","format":"{{value}}","layout":"row-spread","x":1140,"y":1300,"wires":[]},{"id":"226d743c.98524c","type":"ui_text","z":"f8b59cc.d908b6","group":"36a77fc2.f1fd7","order":5,"width":6,"height":1,"name":"system_mode_heat","label":"system_mode_heat","format":"{{value}}","layout":"row-spread","x":250,"y":1300,"wires":[]},{"id":"280a9960.d29c96","type":"ui_dropdown","z":"f8b59cc.d908b6","name":"Set System Mode Heat","label":"","tooltip":"","place":"Set System Mode Heat","group":"36a77fc2.f1fd7","order":6,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"Off","value":"off","type":"str"},{"label":"Auto","value":"auto","type":"str"},{"label":"Manual","value":"heat","type":"str"}],"payload":"","topic":"","x":270,"y":1340,"wires":[["27989c6a.2240e4"]]},{"id":"3b36e063.66d99","type":"ui_dropdown","z":"f8b59cc.d908b6","name":"Set System Mode Water","label":"","tooltip":"","place":"Set System Mode Water","group":"dd5d5a72.667138","order":6,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"Off","value":"off","type":"str"},{"label":"Auto","value":"auto","type":"str"},{"label":"Heat","value":"heat","type":"str"}],"payload":"","topic":"","x":1150,"y":1340,"wires":[["2bc0106f.b1046"]]},{"id":"27989c6a.2240e4","type":"function","z":"f8b59cc.d908b6","name":"System Heat Payload","func":"var value = msg.payload;\nmsg.payload = {\"system_mode_heat\": value}\nmsg.value = value\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":1340,"wires":[["6c8f36cb.a3c018","41a20e9c.b3676","5db84a10.30fa44"]]},{"id":"2bc0106f.b1046","type":"function","z":"f8b59cc.d908b6","name":"System Water Payload","func":"var value = msg.payload;\nmsg.value = value\nmsg.payload = {\"system_mode_water\": value}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":1340,"wires":[["ff720558.3750b8","a3fd3993.9a2748","30ffbd2f.36c082"]]},{"id":"41a20e9c.b3676","type":"function","z":"f8b59cc.d908b6","name":"Get CH Mode Payload","func":"var value = msg.payload;\nmsg.payload = {\"system_mode_heat\": \"\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":1420,"wires":[["11c95fe8.b6246"]]},{"id":"a3fd3993.9a2748","type":"function","z":"f8b59cc.d908b6","name":"Get HW Mode Payload","func":"var value = msg.payload;\nmsg.payload = {\"system_mode_water\": \"\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1420,"wires":[["e52a2f08.9f5a9"]]},{"id":"f0947425.a5cfd8","type":"mqtt out","z":"f8b59cc.d908b6","name":"Controller/get","topic":"zigbee2mqtt/Boiler Controller SLR2T/get","qos":"","retain":"","broker":"","x":1200,"y":120,"wires":[],"info":"zigbee2mqtt/Boiler Controller SLR2/heat/set   = topic\n\nthen set on zigbee2mqtt gui works..."},{"id":"ff720558.3750b8","type":"function","z":"f8b59cc.d908b6","name":"Temperature SP Water Payload","func":"if (msg.value === \"off\") {\n    msg.payload = '{\"temperature_setpoint_hold_water\": \"0\"}';\n} else {\n    msg.payload = '{\"temperature_setpoint_hold_water\": \"1\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":1480,"wires":[["995b23f.ae8d8e"]]},{"id":"8c2d0908.0ad258","type":"mqtt out","z":"f8b59cc.d908b6","name":"Controller/set","topic":"zigbee2mqtt/Boiler Controller SLR2T/set","qos":"","retain":"","broker":"","x":1190,"y":180,"wires":[],"info":"zigbee2mqtt/Boiler Controller SLR2/heat/set   = topic\n\nthen set on zigbee2mqtt gui works..."},{"id":"4e07ef0.79b5f1","type":"ui_text","z":"f8b59cc.d908b6","group":"36a77fc2.f1fd7","order":4,"width":6,"height":1,"name":"temperature_setpoint_hold_heat","label":"temperature_setpoint_hold_heat","format":"{{value}}","layout":"row-spread","x":270,"y":1060,"wires":[]},{"id":"de76b0b.46c995","type":"ui_text","z":"f8b59cc.d908b6","group":"dd5d5a72.667138","order":4,"width":6,"height":1,"name":"temperature_setpoint_hold_water","label":"temperature_setpoint_hold_water","format":"{{value}}","layout":"row-spread","x":1160,"y":1060,"wires":[]},{"id":"6c8f36cb.a3c018","type":"function","z":"f8b59cc.d908b6","name":"Temperature SP Heat Payload","func":"if (msg.value === \"off\") {\n    msg.payload = '{\"temperature_setpoint_hold_heat\": \"0\"}';\n} else {\n    msg.payload = '{\"temperature_setpoint_hold_heat\": \"1\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":1480,"wires":[["6a80835d.493c9c"]]},{"id":"e52a2f08.9f5a9","type":"link out","z":"f8b59cc.d908b6","name":"Controller/get","links":["700f71e.445369"],"x":1315,"y":1420,"wires":[]},{"id":"700f71e.445369","type":"link in","z":"f8b59cc.d908b6","name":"Controller/get","links":["e52a2f08.9f5a9","11c95fe8.b6246","1eb2d4e8.cb780b"],"x":1035,"y":120,"wires":[["f0947425.a5cfd8"]]},{"id":"11c95fe8.b6246","type":"link out","z":"f8b59cc.d908b6","name":"Controller/get","links":["700f71e.445369"],"x":415,"y":1420,"wires":[]},{"id":"995b23f.ae8d8e","type":"link out","z":"f8b59cc.d908b6","name":"Controller/set","links":["cd4c8daa.538c2"],"x":1375,"y":1480,"wires":[]},{"id":"cd4c8daa.538c2","type":"link in","z":"f8b59cc.d908b6","name":"Controller/set","links":["995b23f.ae8d8e","6a80835d.493c9c","30ffbd2f.36c082","5db84a10.30fa44"],"x":1035,"y":180,"wires":[["8c2d0908.0ad258"]]},{"id":"6a80835d.493c9c","type":"link out","z":"f8b59cc.d908b6","name":"Controller/set","links":["cd4c8daa.538c2"],"x":495,"y":1480,"wires":[]},{"id":"30ffbd2f.36c082","type":"link out","z":"f8b59cc.d908b6","name":"Controller/set","links":["cd4c8daa.538c2","99f2de1b.9a46d"],"x":1595,"y":1340,"wires":[]},{"id":"5db84a10.30fa44","type":"link out","z":"f8b59cc.d908b6","name":"Controller/set","links":["cd4c8daa.538c2"],"x":715,"y":1340,"wires":[]},{"id":"1eb2d4e8.cb780b","type":"link out","z":"f8b59cc.d908b6","name":"Controller/get","links":["700f71e.445369"],"x":415,"y":120,"wires":[]},{"id":"f4fc736f.f89b9","type":"ui_button","z":"f8b59cc.d908b6","name":"","group":"36a77fc2.f1fd7","order":7,"width":0,"height":0,"passthru":false,"label":"CH ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"heat","payloadType":"str","topic":"","x":180,"y":1600,"wires":[["27989c6a.2240e4","4af9faf8.e35ae4"]]},{"id":"645fe11c.be073","type":"ui_button","z":"f8b59cc.d908b6","name":"","group":"dd5d5a72.667138","order":7,"width":0,"height":0,"passthru":false,"label":"HW ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"heat","payloadType":"str","topic":"","x":1060,"y":1600,"wires":[["2bc0106f.b1046"]]},{"id":"3fdcd75f.be3de8","type":"ui_button","z":"f8b59cc.d908b6","name":"","group":"dd5d5a72.667138","order":8,"width":0,"height":0,"passthru":false,"label":"HW OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":1060,"y":1640,"wires":[["2bc0106f.b1046"]]},{"id":"9321ca6.58dc338","type":"ui_button","z":"f8b59cc.d908b6","name":"","group":"36a77fc2.f1fd7","order":8,"width":0,"height":0,"passthru":false,"label":"CH OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":180,"y":1640,"wires":[["27989c6a.2240e4","4af9faf8.e35ae4"]]},{"id":"4af9faf8.e35ae4","type":"function","z":"f8b59cc.d908b6","name":"Create Thermostat  Payload","func":"if (msg.payload === \"heat\") {\n    msg.payload = 24;\n} else {\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":1700,"wires":[["d4d6ff2e.659a"]]},{"id":"d4d6ff2e.659a","type":"delay","z":"f8b59cc.d908b6","name":"Delay Therm Payload","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":1700,"wires":[["4d44a660.d3e358"]]},{"id":"ff4c3ac2.c79428","type":"mqtt out","z":"f8b59cc.d908b6","name":"publish to domoticz/in","topic":"domoticz/in","qos":"","retain":"","broker":"","x":1460,"y":2020,"wires":[]},{"id":"19539866.793d58","type":"template","z":"f8b59cc.d908b6","name":"idx 884 json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"command\" : \"udevice\",\n\"idx\" : 884,\n\"nvalue\" : 0,\n\"svalue\" : \"HiveSP\"\n}","output":"str","x":730,"y":2120,"wires":[["f9dcf01d.d0a95"]]},{"id":"4cf17156.90508","type":"json","z":"f8b59cc.d908b6","name":"","property":"payload","action":"","pretty":false,"x":1150,"y":2120,"wires":[["ff4c3ac2.c79428"]]},{"id":"bbc8b9dd.192b98","type":"change","z":"f8b59cc.d908b6","name":"","rules":[{"t":"set","p":"HiveSP","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2120,"wires":[["19539866.793d58"]]},{"id":"f9dcf01d.d0a95","type":"change","z":"f8b59cc.d908b6","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"HiveSP","fromt":"str","to":"HiveSP","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":2120,"wires":[["4cf17156.90508"]]},{"id":"16d7f2aa.705cbd","type":"change","z":"f8b59cc.d908b6","name":"","rules":[{"t":"set","p":"HW_State","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":2220,"wires":[["6af19f0c.8ae2d"]]},{"id":"6af19f0c.8ae2d","type":"template","z":"f8b59cc.d908b6","name":"idx 85 json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"command\" : \"switchlight\",\n\"idx\" : 853,\n\"switchcmd\" : \"HW_State\"\n}","output":"str","x":810,"y":2220,"wires":[["14367ad1.0c1c75"]],"info":"old\n\n{\n\"command\" : \"udevice\",\n\"idx\" : 853,\n\"nvalue\" : HW_State,\n\"svalue\" :\"\"\n}"},{"id":"14367ad1.0c1c75","type":"change","z":"f8b59cc.d908b6","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"HW_State","fromt":"str","to":"HW_State","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":2220,"wires":[["89cfb9ee.86f6e8"]]},{"id":"89cfb9ee.86f6e8","type":"json","z":"f8b59cc.d908b6","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":2220,"wires":[["ff4c3ac2.c79428"]]},{"id":"f79a48d4.cff018","type":"link out","z":"f8b59cc.d908b6","name":"system_mode_heat","links":["7f5551c9.2fa7f","fddde02d.ff846"],"x":595,"y":540,"wires":[]},{"id":"6c982a26.2f2fe4","type":"link out","z":"f8b59cc.d908b6","name":"system_mode_water","links":["db814790.bce9b8"],"x":615,"y":580,"wires":[]},{"id":"7f5551c9.2fa7f","type":"link in","z":"f8b59cc.d908b6","name":"system_mode_heat","links":["f79a48d4.cff018"],"x":75,"y":1300,"wires":[["226d743c.98524c","280a9960.d29c96"]]},{"id":"db814790.bce9b8","type":"link in","z":"f8b59cc.d908b6","name":"system_mode_water","links":["6c982a26.2f2fe4"],"x":955,"y":1300,"wires":[["a59afd0c.26897","3b36e063.66d99"]]},{"id":"d2be26ed.0207a8","type":"link in","z":"f8b59cc.d908b6","name":"running_state_water","links":["b03ac4f6.51dc18"],"x":95,"y":2220,"wires":[["655ac594.59dfac"]]},{"id":"d013c3b2.8939","type":"comment","z":"f8b59cc.d908b6","name":"Domoticz - HW Relay State (switch device idx 853)","info":"","x":270,"y":2180,"wires":[]},{"id":"ee4d57d9.d31a68","type":"function","z":"f8b59cc.d908b6","name":"off/heat -> 0/1","func":"if (msg.payload === \"idle\") {\n    msg.payload = \"Off\";\n} else {\n    msg.payload = \"On\";\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":2220,"wires":[["16d7f2aa.705cbd"]]},{"id":"d5e4abd7.9e5ca8","type":"link out","z":"f8b59cc.d908b6","name":"occupied_heating_setpoint_heat","links":["27dcef85.27f87","301fdc18.3c5c14"],"x":595,"y":260,"wires":[]},{"id":"301fdc18.3c5c14","type":"link in","z":"f8b59cc.d908b6","name":"occupied_heating_setpoint_heat","links":["d5e4abd7.9e5ca8"],"x":75,"y":900,"wires":[["157b928c.79a3dd","c7784dcf.56ee6"]]},{"id":"27dcef85.27f87","type":"link in","z":"f8b59cc.d908b6","name":"occupied_heating_setpoint_heat","links":["d5e4abd7.9e5ca8"],"x":95,"y":2120,"wires":[["94c795f8.a44658"]]},{"id":"1df7ac15.4b3124","type":"comment","z":"f8b59cc.d908b6","name":"Domoticz - Hive Thermostat SP (device idx 884)","info":"","x":260,"y":2080,"wires":[]},{"id":"89e4b568.15f308","type":"function","z":"f8b59cc.d908b6","name":"off/heat -> 0/1","func":"if (msg.payload === \"idle\") {\n    msg.payload = \"Off\";\n} else {\n    msg.payload = \"On\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":2320,"wires":[["af936c77.50eae"]]},{"id":"af936c77.50eae","type":"change","z":"f8b59cc.d908b6","name":"","rules":[{"t":"set","p":"CH_State","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":2320,"wires":[["97a07364.17d25"]]},{"id":"97a07364.17d25","type":"template","z":"f8b59cc.d908b6","name":"idx 852 json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"command\" : \"switchlight\",\n\"idx\" : 852,\n\"switchcmd\" : \"CH_State\"\n}","output":"str","x":810,"y":2320,"wires":[["a4b18139.6052a"]],"info":"Old\n\n{\n\"command\" : \"udevice\",\n\"idx\" : 852,\n\"nvalue\" : CH_State,\n\"svalue\" :\"\"\n}"},{"id":"a4b18139.6052a","type":"change","z":"f8b59cc.d908b6","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"CH_State","fromt":"str","to":"CH_State","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":2320,"wires":[["a3c5e73.512eb18"]]},{"id":"a3c5e73.512eb18","type":"json","z":"f8b59cc.d908b6","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":2320,"wires":[["ff4c3ac2.c79428"]]},{"id":"60f8f79d.8a0628","type":"comment","z":"f8b59cc.d908b6","name":"Domoticz - CH Relay State (switch device idx 852)","info":"","x":270,"y":2280,"wires":[]},{"id":"cc3d2d4e.27268","type":"link out","z":"f8b59cc.d908b6","name":"running_state_heat","links":["7068758.7f1118c","7e4e8a3a.01a804"],"x":595,"y":340,"wires":[]},{"id":"7068758.7f1118c","type":"link in","z":"f8b59cc.d908b6","name":"running_state_heat","links":["cc3d2d4e.27268"],"x":75,"y":1020,"wires":[["d2321211.fb70c"]]},{"id":"b03ac4f6.51dc18","type":"link out","z":"f8b59cc.d908b6","name":"running_state_water","links":["d2cb84cc.1c6e28","d2be26ed.0207a8"],"x":615,"y":380,"wires":[]},{"id":"d2cb84cc.1c6e28","type":"link in","z":"f8b59cc.d908b6","name":"running_state_water","links":["b03ac4f6.51dc18"],"x":955,"y":1020,"wires":[["6fb5d3e6.1aaebc"]]},{"id":"7e4e8a3a.01a804","type":"link in","z":"f8b59cc.d908b6","name":"running_state_heat","links":["cc3d2d4e.27268"],"x":95,"y":2320,"wires":[["a0e40ccb.c9bc4"]]},{"id":"655ac594.59dfac","type":"rbe","z":"f8b59cc.d908b6","name":"Change?","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":220,"y":2220,"wires":[["ee4d57d9.d31a68"]]},{"id":"a0e40ccb.c9bc4","type":"rbe","z":"f8b59cc.d908b6","name":"Change?","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":220,"y":2320,"wires":[["89e4b568.15f308"]]},{"id":"94c795f8.a44658","type":"rbe","z":"f8b59cc.d908b6","name":"Change?","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":220,"y":2120,"wires":[["bbc8b9dd.192b98"]]},{"id":"76d0e686.6ffa18","type":"change","z":"f8b59cc.d908b6","name":"","rules":[{"t":"set","p":"HiveTemp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":2020,"wires":[["7c26e73c.e7a3b8"]]},{"id":"7c26e73c.e7a3b8","type":"template","z":"f8b59cc.d908b6","name":"idx 891 json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"command\" : \"udevice\",\n\"idx\" : 891,\n\"nvalue\" : 0,\n\"svalue\" : \"HiveTemp\"\n}","output":"str","x":730,"y":2020,"wires":[["cccbaf8c.ae8af"]]},{"id":"cccbaf8c.ae8af","type":"change","z":"f8b59cc.d908b6","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"HiveTemp","fromt":"str","to":"HiveTemp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":2020,"wires":[["8584566b.4d08d8"]]},{"id":"8584566b.4d08d8","type":"json","z":"f8b59cc.d908b6","name":"","property":"payload","action":"","pretty":false,"x":1150,"y":2020,"wires":[["ff4c3ac2.c79428"]]},{"id":"7c7ca26a.ea816c","type":"link out","z":"f8b59cc.d908b6","name":"local_temperature_heat","links":["19d41dc1.3f5622","10ddbaeb.d99165"],"x":595,"y":220,"wires":[]},{"id":"19d41dc1.3f5622","type":"link in","z":"f8b59cc.d908b6","name":"","links":["7c7ca26a.ea816c"],"x":75,"y":760,"wires":[["1e834703.3498d9","9f1309c5.491c78"]]},{"id":"10ddbaeb.d99165","type":"link in","z":"f8b59cc.d908b6","name":"local_temperature_heat","links":["7c7ca26a.ea816c"],"x":95,"y":2020,"wires":[["76d0e686.6ffa18"]]},{"id":"609a1cd3.c6e4d4","type":"comment","z":"f8b59cc.d908b6","name":"Domoticz - Hive Temperature (device idx 891)","info":"","x":250,"y":1980,"wires":[]},{"id":"8d3f15fb.63d8d8","type":"comment","z":"f8b59cc.d908b6","name":"Hive SLR2-SLT2/3 zigbee2mqtt node-red testing flow (v0.5)","info":"","x":230,"y":40,"wires":[]},{"id":"1a02dff0.353d8","type":"comment","z":"f8b59cc.d908b6","name":"local_temperature_heat","info":"","x":740,"y":220,"wires":[]},{"id":"f72cd2c0.2b79c","type":"comment","z":"f8b59cc.d908b6","name":"occupied_heating_setpoint_heat","info":"","x":770,"y":260,"wires":[]},{"id":"dd933c2.e0b74c","type":"comment","z":"f8b59cc.d908b6","name":"running_state_water","info":"","x":750,"y":380,"wires":[]},{"id":"708d3f15.80b99","type":"link in","z":"f8b59cc.d908b6","name":"Controller/heat/set/occupied_heating_setpoint","links":["4d44a660.d3e358","45fac4f1.208c1c"],"x":1035,"y":240,"wires":[["759e9dbb.3110e4"]]},{"id":"4d44a660.d3e358","type":"link out","z":"f8b59cc.d908b6","name":"Controller/heat/set/occupied_heating_setpoint","links":["708d3f15.80b99"],"x":675,"y":1700,"wires":[]},{"id":"45fac4f1.208c1c","type":"link out","z":"f8b59cc.d908b6","name":"Controller/heat/set/occupied_heating_setpoint","links":["708d3f15.80b99"],"x":355,"y":920,"wires":[]},{"id":"51e35eb3.688d7","type":"comment","z":"f8b59cc.d908b6","name":"running_state_heat","info":"","x":730,"y":340,"wires":[]},{"id":"104f9609.9bbd0a","type":"comment","z":"f8b59cc.d908b6","name":"system_mode_heat","info":"","x":730,"y":540,"wires":[]},{"id":"4137e8c.7b1a418","type":"comment","z":"f8b59cc.d908b6","name":"system_mode_water","info":"","x":750,"y":580,"wires":[]},{"id":"668a36e6.471e58","type":"link out","z":"f8b59cc.d908b6","name":"system_mode","links":["9e877a8b.d29d48"],"x":595,"y":420,"wires":[]},{"id":"bdb5b3be.9bdf5","type":"comment","z":"f8b59cc.d908b6","name":"system_mode","info":"","x":710,"y":420,"wires":[]},{"id":"9e877a8b.d29d48","type":"link in","z":"f8b59cc.d908b6","name":"system_mode","links":["668a36e6.471e58"],"x":75,"y":1160,"wires":[["9a2ac925.1e2128","b220dec4.274da"]]},{"id":"c0168dc6.8894","type":"link out","z":"f8b59cc.d908b6","name":"temperature_setpoint_hold_heat","links":["bd2848ee.4c3bf8"],"x":595,"y":460,"wires":[]},{"id":"b4c343d4.f0748","type":"comment","z":"f8b59cc.d908b6","name":"temperature_setpoint_hold_heat","info":"","x":770,"y":460,"wires":[]},{"id":"918c87cb.215aa8","type":"link out","z":"f8b59cc.d908b6","name":"temperature_setpoint_hold_water","links":["518016b7.eeba48"],"x":615,"y":500,"wires":[]},{"id":"9bac897e.2b1338","type":"comment","z":"f8b59cc.d908b6","name":"temperature_setpoint_hold_water","info":"","x":790,"y":500,"wires":[]},{"id":"518016b7.eeba48","type":"link in","z":"f8b59cc.d908b6","name":"temperature_setpoint_hold_water","links":["918c87cb.215aa8"],"x":955,"y":1060,"wires":[["de76b0b.46c995"]]},{"id":"bd2848ee.4c3bf8","type":"link in","z":"f8b59cc.d908b6","name":"temperature_setpoint_hold_heat","links":["c0168dc6.8894"],"x":75,"y":1060,"wires":[["4e07ef0.79b5f1"]]},{"id":"b98c86aa.8fd088","type":"link out","z":"f8b59cc.d908b6","name":"occupied_heating_setpoint_water","links":["99f2de1b.9a46d"],"x":615,"y":300,"wires":[]},{"id":"2de40e53.53a0c2","type":"comment","z":"f8b59cc.d908b6","name":"occupied_heating_setpoint_water","info":"","x":790,"y":300,"wires":[]},{"id":"99f2de1b.9a46d","type":"link in","z":"f8b59cc.d908b6","name":"occupied_heating_setpoint_water","links":["30ffbd2f.36c082","b98c86aa.8fd088"],"x":955,"y":860,"wires":[["4f42bd10.c77974"]]},{"id":"ad74d633.1743c8","type":"comment","z":"f8b59cc.d908b6","name":"Domoticz device handlers below here - (these nodes may be removed if Domoticz not used) - (Domoticz idx values refer to devices IDX)","info":"","x":530,"y":1840,"wires":[]},{"id":"6bc9865.6e57a78","type":"comment","z":"f8b59cc.d908b6","name":"Heat and Hot Water On/Off buttons - trigger relevant mqqt messages","info":"","x":660,"y":1600,"wires":[]},{"id":"afa03209.20b34","type":"comment","z":"f8b59cc.d908b6","name":"CH and HW system_mode","info":"","x":690,"y":1300,"wires":[]},{"id":"444695b.aceab6c","type":"comment","z":"f8b59cc.d908b6","name":"Display CH and HW Thermostat Sliders","info":"","x":590,"y":860,"wires":[]},{"id":"54325600.58845c","type":"comment","z":"f8b59cc.d908b6","name":"Display Thermostat Temperature Gauge and Value","info":"","x":590,"y":740,"wires":[]},{"id":"4fc43040.14853","type":"comment","z":"f8b59cc.d908b6","name":"set system_mode - off/auto/heat","info":"","x":530,"y":1160,"wires":[]},{"id":"f8e85bc6.437f78","type":"link in","z":"f8b59cc.d908b6","name":"Controller/heat/set/system_mode","links":["a197b82d.d57938"],"x":1035,"y":300,"wires":[["ba56360b.ddefe8"]]},{"id":"a197b82d.d57938","type":"link out","z":"f8b59cc.d908b6","name":"Controller/heat/set/system_mode","links":["f8e85bc6.437f78"],"x":375,"y":1200,"wires":[]},{"id":"35f69cd9.dcb0a4","type":"comment","z":"f8b59cc.d908b6","name":"Display CH and HW running_state and temperature_setpoint_hold values","info":"","x":660,"y":1020,"wires":[]},{"id":"e42214e0.a2d238","type":"comment","z":"f8b59cc.d908b6","name":"mqqt publish topics (set mqqt details here)","info":"","x":1180,"y":60,"wires":[]},{"id":"7147b141.b55ba","type":"comment","z":"f8b59cc.d908b6","name":"mqqt subscribe topics (set mqqt details here)","info":"","x":230,"y":180,"wires":[]},{"id":"2742f165.26f9de","type":"ui_text","z":"f8b59cc.d908b6","group":"b20e4729.b93dd8","order":3,"width":6,"height":1,"name":"LQI","label":"LQI","format":"{{value}}","layout":"row-spread","x":630,"y":160,"wires":[]},{"id":"f6b0f141.7483e","type":"debug","z":"f8b59cc.d908b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":100,"wires":[]},{"id":"80858aa3.6f3ef8","type":"json","z":"f8b59cc.d908b6","name":"","property":"payload","action":"","pretty":false,"x":250,"y":340,"wires":[["fc4ee16e.fc9e4"]]},{"id":"863cbfe0.8dc1b","type":"comment","z":"f8b59cc.d908b6","name":"mqqt publish topics to Domoticz mqqt  (set mqqt details here)","info":"","x":1480,"y":1920,"wires":[]},{"id":"59d53d2b.8161d4","type":"comment","z":"f8b59cc.d908b6","name":"SLR/SLT status (online/offline)","info":"","x":180,"y":600,"wires":[]},{"id":"3a1319a2.d517d6","type":"mqtt in","z":"f8b59cc.d908b6","name":"","topic":"zigbee2mqtt/Boiler Controller SLR2/availability","qos":"2","datatype":"auto","broker":"","x":230,"y":640,"wires":[["2053b504.4fe74a","50d6d24b.75547c"]]},{"id":"2053b504.4fe74a","type":"ui_text","z":"f8b59cc.d908b6","group":"b20e4729.b93dd8","order":4,"width":6,"height":1,"name":"online/offline","label":"state","format":"{{value}}","layout":"row-spread","x":570,"y":640,"wires":[]},{"id":"e8216eb0.3a2d5","type":"change","z":"f8b59cc.d908b6","name":"","rules":[{"t":"set","p":"HiveStatus","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1920,"wires":[["5d5e57fb.ae3f88"]]},{"id":"5d5e57fb.ae3f88","type":"template","z":"f8b59cc.d908b6","name":"idx 920 json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"command\" : \"udevice\",\n\"idx\" : 920,\n\"nvalue\" : 0,\n\"svalue\" : \"HiveStatus\"\n}","output":"str","x":730,"y":1920,"wires":[["88fd387b.7bb9f8"]]},{"id":"88fd387b.7bb9f8","type":"change","z":"f8b59cc.d908b6","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"HiveStatus","fromt":"str","to":"HiveStatus","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1920,"wires":[["29626bfa.597aa4"]]},{"id":"29626bfa.597aa4","type":"json","z":"f8b59cc.d908b6","name":"","property":"payload","action":"","pretty":false,"x":1151.6666870117188,"y":1920,"wires":[["ff4c3ac2.c79428"]]},{"id":"7aff63d0.d22e5c","type":"comment","z":"f8b59cc.d908b6","name":"SLR/SLT status (online/offline)","info":"","x":200,"y":1880,"wires":[]},{"id":"f22d2f3a.5d225","type":"link in","z":"f8b59cc.d908b6","name":"","links":["50d6d24b.75547c"],"x":95,"y":1920,"wires":[["e8216eb0.3a2d5"]]},{"id":"50d6d24b.75547c","type":"link out","z":"f8b59cc.d908b6","name":"SLR/SLT status","links":["f22d2f3a.5d225"],"x":515,"y":680,"wires":[]},{"id":"b20e4729.b93dd8","type":"ui_group","name":"SLR2-SLT2/3","tab":"d387dd91.804dd","order":1,"disp":true,"width":"6","collapse":false},{"id":"36a77fc2.f1fd7","type":"ui_group","name":"CH","tab":"d387dd91.804dd","order":2,"disp":true,"width":"6","collapse":false},{"id":"dd5d5a72.667138","type":"ui_group","name":"HW","tab":"d387dd91.804dd","order":3,"disp":true,"width":"6","collapse":false},{"id":"d387dd91.804dd","type":"ui_tab","name":"Hive Active SLR/SLT Test v0.5","icon":"dashboard","order":5,"disabled":false,"hidden":false}]
