flow.json
[{"id":"b86a0e84.31115","type":"tab","label":"Hive SLR2-SLT2/3 (V0.41)","disabled":false,"info":""},{"id":"ae015720.f6e7c8","type":"mqtt in","z":"b86a0e84.31115","name":"","topic":"zigbee2mqtt/Boiler Controller SLR2T","qos":"2","datatype":"auto","broker":"","x":200,"y":220,"wires":[["7a099a0.12acf68","b416ce8b.6ae56"]]},{"id":"3b37b96.e200646","type":"split","z":"b86a0e84.31115","name":"SplitKeys","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":260,"y":380,"wires":[["7bdfaa88.812a94"]]},{"id":"7bdfaa88.812a94","type":"switch","z":"b86a0e84.31115","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"linkquality","vt":"str"},{"t":"eq","v":"local_temperature_heat","vt":"str"},{"t":"eq","v":"occupied_heating_setpoint_heat","vt":"str"},{"t":"eq","v":"occupied_heating_setpoint_water","vt":"str"},{"t":"eq","v":"running_state_heat","vt":"str"},{"t":"eq","v":"running_state_water","vt":"str"},{"t":"eq","v":"system_mode","vt":"str"},{"t":"eq","v":"temperature_setpoint_hold_heat","vt":"str"},{"t":"eq","v":"temperature_setpoint_hold_water","vt":"str"},{"t":"eq","v":"system_mode_heat","vt":"str"},{"t":"eq","v":"system_mode_water","vt":"str"}],"checkall":"true","repair":false,"outputs":11,"x":410,"y":380,"wires":[["69eb0c12.4e1234"],["a9c6946a.5b3a08"],["216fd76d.df4e18"],["d84f13a0.52c27"],["dc646cce.89703"],["601b0010.76fa3"],["ab258a3c.90a5f8"],["d0d34650.7e4b38"],["14d24cf0.b69313"],["63b2ad77.e75c54"],["da593644.c5f2e8"]]},{"id":"99494f60.5dc0c","type":"ui_gauge","z":"b86a0e84.31115","name":"Thermostat Temp Gauge","group":"5e36e134.8d434","order":1,"width":6,"height":4,"gtype":"gage","title":"Thermostat Temp","label":"","format":"{{local_temperature_heat}}","min":0,"max":"30","colors":["#a9402d","#e6e600","#3acb4a"],"seg1":"17.7","seg2":"20.5","x":250,"y":680,"wires":[]},{"id":"6463f93c.9396f8","type":"ui_text","z":"b86a0e84.31115","group":"5e36e134.8d434","order":2,"width":6,"height":1,"name":"Thermostat Temp","label":"Thermostat Temp","format":"{{value | number:2}} &deg","layout":"row-spread","x":230,"y":720,"wires":[]},{"id":"b532f6d1.9b5448","type":"inject","z":"b86a0e84.31115","name":"CH system_mode (payload)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"{\"system_mode_heat\": \"\"}","payloadType":"str","x":200,"y":120,"wires":[["df25f235.77b59"]]},{"id":"5307de58.5986b","type":"ui_text","z":"b86a0e84.31115","group":"20d8a650.22ff5a","order":1,"width":6,"height":1,"name":"occupied_heating_setpoint_heat","label":"CH Thermostat Setpoint","format":"{{value}} &deg","layout":"row-spread","x":270,"y":800,"wires":[]},{"id":"cc71b0bd.e423e","type":"ui_text","z":"b86a0e84.31115","group":"20d8a650.22ff5a","order":3,"width":6,"height":1,"name":"running_state_heat","label":"CH State","format":"{{value}}","layout":"row-spread","x":230,"y":960,"wires":[]},{"id":"cc83321f.6ee77","type":"ui_text","z":"b86a0e84.31115","group":"370859af.f6e036","order":1,"width":6,"height":1,"name":"occupied_heating_setpoint_water","label":"HW Thermostat Setting?","format":"{{value}} &deg","layout":"row-spread","x":1160,"y":800,"wires":[]},{"id":"4a49edfe.257f34","type":"ui_text","z":"b86a0e84.31115","group":"370859af.f6e036","order":3,"width":6,"height":1,"name":"running_state_water","label":"HW State","format":"{{value}}","layout":"row-spread","x":1120,"y":960,"wires":[]},{"id":"a8a339ce.81b828","type":"ui_slider","z":"b86a0e84.31115","name":"","label":"CH Thermostat","tooltip":"","group":"20d8a650.22ff5a","order":2,"width":6,"height":2,"passthru":false,"outs":"end","topic":"","min":"1","max":"30","step":"0.5","x":220,"y":860,"wires":[["7114d911.c00ac8"]]},{"id":"1ea0248f.d3b32b","type":"mqtt out","z":"b86a0e84.31115","name":"Controller/heat/set/occupied_heating_setpoint","topic":"zigbee2mqtt/Boiler Controller SLR2T/heat/set/occupied_heating_setpoint","qos":"","retain":"","broker":"","x":1300,"y":240,"wires":[]},{"id":"9250ce99.6a8ad","type":"ui_dropdown","z":"b86a0e84.31115","name":"Set System Mode","label":"","tooltip":"","place":"Set System Mode","group":"5e36e134.8d434","order":6,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"Off","value":"off","type":"str"},{"label":"Auto","value":"auto","type":"str"},{"label":"Heat","value":"heat","type":"str"}],"payload":"","topic":"","x":230,"y":1140,"wires":[["7348a41d.d606cc"]]},{"id":"f162af23.f476f","type":"mqtt out","z":"b86a0e84.31115","name":"Controller/heat/set/system_mode","topic":"zigbee2mqtt/Boiler Controller SLR2T/heat/set/system_mode","qos":"","retain":"","broker":"","x":1260,"y":300,"wires":[]},{"id":"77fd5dc7.6e8a94","type":"ui_text","z":"b86a0e84.31115","group":"5e36e134.8d434","order":5,"width":6,"height":1,"name":"system_mode","label":"system_mode","format":"{{value}}","layout":"row-spread","x":220,"y":1100,"wires":[]},{"id":"1351e58a.21dcca","type":"ui_text","z":"b86a0e84.31115","group":"370859af.f6e036","order":5,"width":6,"height":1,"name":"system_mode_water","label":"system_mode_water","format":"{{value}}","layout":"row-spread","x":1140,"y":1300,"wires":[]},{"id":"17dea461.3424ac","type":"ui_text","z":"b86a0e84.31115","group":"20d8a650.22ff5a","order":6,"width":6,"height":1,"name":"system_mode_heat","label":"system_mode_heat","format":"{{value}}","layout":"row-spread","x":250,"y":1300,"wires":[]},{"id":"8afa288f.b9a138","type":"ui_dropdown","z":"b86a0e84.31115","name":"Set System Mode","label":"","tooltip":"","place":"Set System Heat Mode","group":"20d8a650.22ff5a","order":7,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"Off","value":"off","type":"str"},{"label":"Auto","value":"auto","type":"str"},{"label":"Manual","value":"heat","type":"str"}],"payload":"","topic":"","x":250,"y":1340,"wires":[["4146170.6d5bbe8"]]},{"id":"4bbdb3ef.b61b0c","type":"ui_dropdown","z":"b86a0e84.31115","name":"Set System Mode","label":"","tooltip":"","place":"Set System WaterMode","group":"370859af.f6e036","order":6,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"Off","value":"off","type":"str"},{"label":"Auto","value":"auto","type":"str"},{"label":"Heat","value":"heat","type":"str"}],"payload":"","topic":"","x":1130,"y":1340,"wires":[["658ab25a.5d7e6c"]]},{"id":"4146170.6d5bbe8","type":"function","z":"b86a0e84.31115","name":"System Heat Payload","func":"var value = msg.payload;\nmsg.payload = {\"system_mode_heat\": value}\nmsg.value = value\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":1340,"wires":[["f42c2c54.24711","6b1abe80.da0d9","1076ac2a.ba4684"]]},{"id":"658ab25a.5d7e6c","type":"function","z":"b86a0e84.31115","name":"System Water Payload","func":"var value = msg.payload;\nmsg.value = value\nmsg.payload = {\"system_mode_water\": value}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":1340,"wires":[["a4785f20.c080d","aa0750c6.8bab","4cfcceeb.69382"]]},{"id":"6b1abe80.da0d9","type":"function","z":"b86a0e84.31115","name":"Get CH Mode Payload","func":"var value = msg.payload;\nmsg.payload = {\"system_mode_heat\": \"\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":1420,"wires":[["17214f65.efbce1"]]},{"id":"aa0750c6.8bab","type":"function","z":"b86a0e84.31115","name":"Get HW Mode Payload","func":"var value = msg.payload;\nmsg.payload = {\"system_mode_water\": \"\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1420,"wires":[["c465d4fd.18b198"]]},{"id":"74132296.d5c26c","type":"mqtt out","z":"b86a0e84.31115","name":"Controller/get","topic":"zigbee2mqtt/Boiler Controller SLR2T/get","qos":"","retain":"","broker":"","x":1200,"y":120,"wires":[],"info":"zigbee2mqtt/Boiler Controller SLR2/heat/set   = topic\n\nthen set on zigbee2mqtt gui works..."},{"id":"a4785f20.c080d","type":"function","z":"b86a0e84.31115","name":"Temperature SP Water Payload","func":"if (msg.value === \"off\") {\n    msg.payload = '{\"temperature_setpoint_hold_water\": \"0\"}';\n} else {\n    msg.payload = '{\"temperature_setpoint_hold_water\": \"1\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":1480,"wires":[["72ea91ca.02d3d"]]},{"id":"791ea0bd.f4b1f","type":"mqtt out","z":"b86a0e84.31115","name":"Controller/set","topic":"zigbee2mqtt/Boiler Controller SLR2T/set","qos":"","retain":"","broker":"","x":1190,"y":180,"wires":[],"info":"zigbee2mqtt/Boiler Controller SLR2/heat/set   = topic\n\nthen set on zigbee2mqtt gui works..."},{"id":"4a731be2.8e3da4","type":"ui_text","z":"b86a0e84.31115","group":"20d8a650.22ff5a","order":5,"width":6,"height":1,"name":"temperature_setpoint_hold_heat","label":"temperature_setpoint_hold_heat","format":"{{value}}","layout":"row-spread","x":270,"y":1000,"wires":[]},{"id":"1586b0c3.59863f","type":"ui_text","z":"b86a0e84.31115","group":"370859af.f6e036","order":4,"width":6,"height":1,"name":"temperature_setpoint_hold_water","label":"temperature_setpoint_hold_water","format":"{{value}}","layout":"row-spread","x":1160,"y":1000,"wires":[]},{"id":"f42c2c54.24711","type":"function","z":"b86a0e84.31115","name":"Temperature SP Heat Payload","func":"if (msg.value === \"off\") {\n    msg.payload = '{\"temperature_setpoint_hold_heat\": \"0\"}';\n} else {\n    msg.payload = '{\"temperature_setpoint_hold_heat\": \"1\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":1480,"wires":[["486f3e03.8bf3e"]]},{"id":"c465d4fd.18b198","type":"link out","z":"b86a0e84.31115","name":"Controller/get","links":["ae8f0dc9.4cd38"],"x":1315,"y":1420,"wires":[]},{"id":"ae8f0dc9.4cd38","type":"link in","z":"b86a0e84.31115","name":"Controller/get","links":["c465d4fd.18b198","17214f65.efbce1","df25f235.77b59"],"x":1035,"y":120,"wires":[["74132296.d5c26c"]]},{"id":"17214f65.efbce1","type":"link out","z":"b86a0e84.31115","name":"Controller/get","links":["ae8f0dc9.4cd38"],"x":415,"y":1420,"wires":[]},{"id":"72ea91ca.02d3d","type":"link out","z":"b86a0e84.31115","name":"Controller/set","links":["e6854f71.209a2"],"x":1375,"y":1480,"wires":[]},{"id":"e6854f71.209a2","type":"link in","z":"b86a0e84.31115","name":"Controller/set","links":["72ea91ca.02d3d","486f3e03.8bf3e","4cfcceeb.69382","1076ac2a.ba4684"],"x":1035,"y":180,"wires":[["791ea0bd.f4b1f"]]},{"id":"486f3e03.8bf3e","type":"link out","z":"b86a0e84.31115","name":"Controller/set","links":["e6854f71.209a2"],"x":495,"y":1480,"wires":[]},{"id":"4cfcceeb.69382","type":"link out","z":"b86a0e84.31115","name":"Controller/set","links":["e6854f71.209a2","7654da3d.b64cb4"],"x":1535,"y":1340,"wires":[]},{"id":"1076ac2a.ba4684","type":"link out","z":"b86a0e84.31115","name":"Controller/set","links":["e6854f71.209a2"],"x":655,"y":1340,"wires":[]},{"id":"df25f235.77b59","type":"link out","z":"b86a0e84.31115","name":"Controller/get","links":["ae8f0dc9.4cd38"],"x":415,"y":120,"wires":[]},{"id":"61fccef9.e07e9","type":"ui_button","z":"b86a0e84.31115","name":"","group":"20d8a650.22ff5a","order":8,"width":0,"height":0,"passthru":false,"label":"CH ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"heat","payloadType":"str","topic":"","x":180,"y":1600,"wires":[["4146170.6d5bbe8","db7c66e4.6e8948"]]},{"id":"53add616.417198","type":"ui_button","z":"b86a0e84.31115","name":"","group":"370859af.f6e036","order":7,"width":0,"height":0,"passthru":false,"label":"HW ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"heat","payloadType":"str","topic":"","x":1060,"y":1600,"wires":[["658ab25a.5d7e6c"]]},{"id":"a904bd37.0275","type":"ui_button","z":"b86a0e84.31115","name":"","group":"370859af.f6e036","order":8,"width":0,"height":0,"passthru":false,"label":"HW OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":1060,"y":1640,"wires":[["658ab25a.5d7e6c"]]},{"id":"156625e0.8900da","type":"ui_button","z":"b86a0e84.31115","name":"","group":"20d8a650.22ff5a","order":9,"width":0,"height":0,"passthru":false,"label":"CH OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":180,"y":1640,"wires":[["4146170.6d5bbe8","db7c66e4.6e8948"]]},{"id":"db7c66e4.6e8948","type":"function","z":"b86a0e84.31115","name":"Create Thermostat  Payload","func":"if (msg.payload === \"heat\") {\n    msg.payload = 24;\n} else {\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":1700,"wires":[["ebf48ff3.60688"]]},{"id":"ebf48ff3.60688","type":"delay","z":"b86a0e84.31115","name":"Delay Therm Payload","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":1700,"wires":[["e02288c6.fcaf78"]]},{"id":"8890d5ba.171b58","type":"mqtt out","z":"b86a0e84.31115","name":"publish to domoticz/in","topic":"domoticz/in","qos":"","retain":"","broker":"","x":1460,"y":1900,"wires":[]},{"id":"3e60bf6e.b509d","type":"template","z":"b86a0e84.31115","name":"idx 884 json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"command\" : \"udevice\",\n\"idx\" : 884,\n\"nvalue\" : 0,\n\"svalue\" : \"HiveSP\"\n}","output":"str","x":730,"y":2000,"wires":[["26cf31f6.37e61e"]]},{"id":"7fab4590.96b81c","type":"json","z":"b86a0e84.31115","name":"","property":"payload","action":"","pretty":false,"x":1150,"y":2000,"wires":[["8890d5ba.171b58"]]},{"id":"5dfa71fc.9b7f2","type":"change","z":"b86a0e84.31115","name":"","rules":[{"t":"set","p":"HiveSP","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2000,"wires":[["3e60bf6e.b509d"]]},{"id":"26cf31f6.37e61e","type":"change","z":"b86a0e84.31115","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"HiveSP","fromt":"str","to":"HiveSP","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":2000,"wires":[["7fab4590.96b81c"]]},{"id":"bc5d2b23.d465a8","type":"change","z":"b86a0e84.31115","name":"","rules":[{"t":"set","p":"HW_State","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":2100,"wires":[["dffd49d5.8250a8"]]},{"id":"dffd49d5.8250a8","type":"template","z":"b86a0e84.31115","name":"idx 85 json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"command\" : \"switchlight\",\n\"idx\" : 853,\n\"switchcmd\" : \"HW_State\"\n}","output":"str","x":810,"y":2100,"wires":[["9a3cf9f3.9f18c8"]],"info":"old\n\n{\n\"command\" : \"udevice\",\n\"idx\" : 853,\n\"nvalue\" : HW_State,\n\"svalue\" :\"\"\n}"},{"id":"9a3cf9f3.9f18c8","type":"change","z":"b86a0e84.31115","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"HW_State","fromt":"str","to":"HW_State","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":2100,"wires":[["a7fb39c4.cd5b08"]]},{"id":"a7fb39c4.cd5b08","type":"json","z":"b86a0e84.31115","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":2100,"wires":[["8890d5ba.171b58"]]},{"id":"63b2ad77.e75c54","type":"link out","z":"b86a0e84.31115","name":"system_mode_heat","links":["fddd7c88.6f997","fddde02d.ff846"],"x":595,"y":540,"wires":[]},{"id":"da593644.c5f2e8","type":"link out","z":"b86a0e84.31115","name":"system_mode_water","links":["f0e027ae.d81d08"],"x":615,"y":580,"wires":[]},{"id":"fddd7c88.6f997","type":"link in","z":"b86a0e84.31115","name":"system_mode_heat","links":["63b2ad77.e75c54"],"x":75,"y":1300,"wires":[["17dea461.3424ac","8afa288f.b9a138"]]},{"id":"f0e027ae.d81d08","type":"link in","z":"b86a0e84.31115","name":"system_mode_water","links":["da593644.c5f2e8"],"x":955,"y":1300,"wires":[["1351e58a.21dcca","4bbdb3ef.b61b0c"]]},{"id":"6f2a94b.6ad066c","type":"link in","z":"b86a0e84.31115","name":"running_state_water","links":["601b0010.76fa3"],"x":95,"y":2100,"wires":[["5baea644.0f53c8"]]},{"id":"eec75557.ccdf28","type":"comment","z":"b86a0e84.31115","name":"Domoticz - HW Relay State (switch device idx 853)","info":"","x":270,"y":2060,"wires":[]},{"id":"ffdf3e86.0c4b9","type":"function","z":"b86a0e84.31115","name":"off/heat -> 0/1","func":"if (msg.payload === \"idle\") {\n    msg.payload = \"Off\";\n} else {\n    msg.payload = \"On\";\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":2100,"wires":[["bc5d2b23.d465a8"]]},{"id":"216fd76d.df4e18","type":"link out","z":"b86a0e84.31115","name":"occupied_heating_setpoint_heat","links":["9bed9c12.7935c","d612157d.ac2348"],"x":595,"y":260,"wires":[]},{"id":"d612157d.ac2348","type":"link in","z":"b86a0e84.31115","name":"occupied_heating_setpoint_heat","links":["216fd76d.df4e18"],"x":75,"y":840,"wires":[["5307de58.5986b","a8a339ce.81b828"]]},{"id":"9bed9c12.7935c","type":"link in","z":"b86a0e84.31115","name":"occupied_heating_setpoint_heat","links":["216fd76d.df4e18"],"x":95,"y":2000,"wires":[["c2475f74.4d4f"]]},{"id":"c3219d9d.b8679","type":"comment","z":"b86a0e84.31115","name":"Domoticz - Hive Thermostat SP (device idx 884)","info":"","x":260,"y":1960,"wires":[]},{"id":"8b3bfa1e.d587e8","type":"function","z":"b86a0e84.31115","name":"off/heat -> 0/1","func":"if (msg.payload === \"idle\") {\n    msg.payload = \"Off\";\n} else {\n    msg.payload = \"On\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":2200,"wires":[["4539d668.7ab428"]]},{"id":"4539d668.7ab428","type":"change","z":"b86a0e84.31115","name":"","rules":[{"t":"set","p":"CH_State","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":2200,"wires":[["534bfd3b.4020a4"]]},{"id":"534bfd3b.4020a4","type":"template","z":"b86a0e84.31115","name":"idx 852 json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"command\" : \"switchlight\",\n\"idx\" : 852,\n\"switchcmd\" : \"CH_State\"\n}","output":"str","x":810,"y":2200,"wires":[["4b0942bb.abbc4c"]],"info":"Old\n\n{\n\"command\" : \"udevice\",\n\"idx\" : 852,\n\"nvalue\" : CH_State,\n\"svalue\" :\"\"\n}"},{"id":"4b0942bb.abbc4c","type":"change","z":"b86a0e84.31115","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"CH_State","fromt":"str","to":"CH_State","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":2200,"wires":[["d9496382.3e57"]]},{"id":"d9496382.3e57","type":"json","z":"b86a0e84.31115","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":2200,"wires":[["8890d5ba.171b58"]]},{"id":"103f7d05.edead3","type":"comment","z":"b86a0e84.31115","name":"Domoticz - CH Relay State (switch device idx 852)","info":"","x":270,"y":2160,"wires":[]},{"id":"dc646cce.89703","type":"link out","z":"b86a0e84.31115","name":"running_state_heat","links":["842b95ad.dbc808","996e6ae1.f42548"],"x":595,"y":340,"wires":[]},{"id":"842b95ad.dbc808","type":"link in","z":"b86a0e84.31115","name":"running_state_heat","links":["dc646cce.89703"],"x":75,"y":960,"wires":[["cc71b0bd.e423e"]]},{"id":"601b0010.76fa3","type":"link out","z":"b86a0e84.31115","name":"running_state_water","links":["6a6b8023.7b8e3","6f2a94b.6ad066c"],"x":615,"y":380,"wires":[]},{"id":"6a6b8023.7b8e3","type":"link in","z":"b86a0e84.31115","name":"running_state_water","links":["601b0010.76fa3"],"x":955,"y":960,"wires":[["4a49edfe.257f34"]]},{"id":"996e6ae1.f42548","type":"link in","z":"b86a0e84.31115","name":"running_state_heat","links":["dc646cce.89703"],"x":95,"y":2200,"wires":[["12ed3691.5e5af9"]]},{"id":"5baea644.0f53c8","type":"rbe","z":"b86a0e84.31115","name":"Change?","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":220,"y":2100,"wires":[["ffdf3e86.0c4b9"]]},{"id":"12ed3691.5e5af9","type":"rbe","z":"b86a0e84.31115","name":"Change?","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":220,"y":2200,"wires":[["8b3bfa1e.d587e8"]]},{"id":"c2475f74.4d4f","type":"rbe","z":"b86a0e84.31115","name":"Change?","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":220,"y":2000,"wires":[["5dfa71fc.9b7f2"]]},{"id":"cac4dc7e.03756","type":"change","z":"b86a0e84.31115","name":"","rules":[{"t":"set","p":"HiveTemp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1900,"wires":[["2d7c144c.d1aa4c"]]},{"id":"2d7c144c.d1aa4c","type":"template","z":"b86a0e84.31115","name":"idx 891 json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"command\" : \"udevice\",\n\"idx\" : 891,\n\"nvalue\" : 0,\n\"svalue\" : \"HiveTemp\"\n}","output":"str","x":730,"y":1900,"wires":[["7e510f34.55189"]]},{"id":"7e510f34.55189","type":"change","z":"b86a0e84.31115","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"HiveTemp","fromt":"str","to":"HiveTemp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1900,"wires":[["d7848bd.9d7c478"]]},{"id":"d7848bd.9d7c478","type":"json","z":"b86a0e84.31115","name":"","property":"payload","action":"","pretty":false,"x":1150,"y":1900,"wires":[["8890d5ba.171b58"]]},{"id":"a9c6946a.5b3a08","type":"link out","z":"b86a0e84.31115","name":"local_temperature_heat","links":["26c56e73.6d0c82","4d74182f.a489b8"],"x":595,"y":220,"wires":[]},{"id":"26c56e73.6d0c82","type":"link in","z":"b86a0e84.31115","name":"","links":["a9c6946a.5b3a08"],"x":75,"y":700,"wires":[["99494f60.5dc0c","6463f93c.9396f8"]]},{"id":"4d74182f.a489b8","type":"link in","z":"b86a0e84.31115","name":"local_temperature_heat","links":["a9c6946a.5b3a08"],"x":95,"y":1900,"wires":[["cac4dc7e.03756"]]},{"id":"aab729bd.aa9fc8","type":"comment","z":"b86a0e84.31115","name":"Domoticz - Hive Temperature (device idx 891)","info":"","x":250,"y":1860,"wires":[]},{"id":"b487a1ff.c696d","type":"comment","z":"b86a0e84.31115","name":"Hive SLR2-SLT2/3 zigbee2mqtt node-red testing flow (v0.41)","info":"","x":240,"y":40,"wires":[]},{"id":"9e3212da.cdbee","type":"comment","z":"b86a0e84.31115","name":"local_temperature_heat","info":"","x":740,"y":220,"wires":[]},{"id":"7e1d0676.8ffe08","type":"comment","z":"b86a0e84.31115","name":"occupied_heating_setpoint_heat","info":"","x":770,"y":260,"wires":[]},{"id":"f3b74713.0117e8","type":"comment","z":"b86a0e84.31115","name":"running_state_water","info":"","x":750,"y":380,"wires":[]},{"id":"e45f0b97.2e2838","type":"link in","z":"b86a0e84.31115","name":"Controller/heat/set/occupied_heating_setpoint","links":["e02288c6.fcaf78","7114d911.c00ac8"],"x":1035,"y":240,"wires":[["1ea0248f.d3b32b"]]},{"id":"e02288c6.fcaf78","type":"link out","z":"b86a0e84.31115","name":"Controller/heat/set/occupied_heating_setpoint","links":["e45f0b97.2e2838"],"x":675,"y":1700,"wires":[]},{"id":"7114d911.c00ac8","type":"link out","z":"b86a0e84.31115","name":"Controller/heat/set/occupied_heating_setpoint","links":["e45f0b97.2e2838"],"x":355,"y":860,"wires":[]},{"id":"ef2f8811.243298","type":"comment","z":"b86a0e84.31115","name":"running_state_heat","info":"","x":730,"y":340,"wires":[]},{"id":"2a469721.14c248","type":"comment","z":"b86a0e84.31115","name":"system_mode_heat","info":"","x":730,"y":540,"wires":[]},{"id":"d8de8abf.13b428","type":"comment","z":"b86a0e84.31115","name":"system_mode_water","info":"","x":750,"y":580,"wires":[]},{"id":"ab258a3c.90a5f8","type":"link out","z":"b86a0e84.31115","name":"system_mode","links":["15ab0334.66092d"],"x":595,"y":420,"wires":[]},{"id":"e85d8f69.c2038","type":"comment","z":"b86a0e84.31115","name":"system_mode","info":"","x":710,"y":420,"wires":[]},{"id":"15ab0334.66092d","type":"link in","z":"b86a0e84.31115","name":"system_mode","links":["ab258a3c.90a5f8"],"x":75,"y":1100,"wires":[["77fd5dc7.6e8a94","9250ce99.6a8ad"]]},{"id":"d0d34650.7e4b38","type":"link out","z":"b86a0e84.31115","name":"temperature_setpoint_hold_heat","links":["b910c2cf.ac049"],"x":595,"y":460,"wires":[]},{"id":"6974c72f.9a9178","type":"comment","z":"b86a0e84.31115","name":"temperature_setpoint_hold_heat","info":"","x":770,"y":460,"wires":[]},{"id":"14d24cf0.b69313","type":"link out","z":"b86a0e84.31115","name":"temperature_setpoint_hold_water","links":["aa6b3fca.3ec08"],"x":615,"y":500,"wires":[]},{"id":"c4d93179.a85ab","type":"comment","z":"b86a0e84.31115","name":"temperature_setpoint_hold_water","info":"","x":790,"y":500,"wires":[]},{"id":"aa6b3fca.3ec08","type":"link in","z":"b86a0e84.31115","name":"temperature_setpoint_hold_water","links":["14d24cf0.b69313"],"x":955,"y":1000,"wires":[["1586b0c3.59863f"]]},{"id":"b910c2cf.ac049","type":"link in","z":"b86a0e84.31115","name":"temperature_setpoint_hold_heat","links":["d0d34650.7e4b38"],"x":75,"y":1000,"wires":[["4a731be2.8e3da4"]]},{"id":"d84f13a0.52c27","type":"link out","z":"b86a0e84.31115","name":"occupied_heating_setpoint_water","links":["7654da3d.b64cb4"],"x":615,"y":300,"wires":[]},{"id":"bee3749f.88d1c8","type":"comment","z":"b86a0e84.31115","name":"occupied_heating_setpoint_water","info":"","x":790,"y":300,"wires":[]},{"id":"7654da3d.b64cb4","type":"link in","z":"b86a0e84.31115","name":"occupied_heating_setpoint_water","links":["4cfcceeb.69382","d84f13a0.52c27"],"x":955,"y":800,"wires":[["cc83321f.6ee77"]]},{"id":"ce4bad9f.39d22","type":"comment","z":"b86a0e84.31115","name":"Domoticz device handlers below here - (these nodes may be removed if Domoticz not used)","info":"","x":390,"y":1780,"wires":[]},{"id":"380c7fcc.58298","type":"comment","z":"b86a0e84.31115","name":"Heat and Hot Water On/Off buttons - trigger relevant mqqt messages","info":"","x":660,"y":1600,"wires":[]},{"id":"141f5d52.5af253","type":"comment","z":"b86a0e84.31115","name":"CH and HW system_mode","info":"","x":690,"y":1300,"wires":[]},{"id":"8ed71b47.5b4f08","type":"comment","z":"b86a0e84.31115","name":"Display CH and HW Thermostat Sliders","info":"","x":590,"y":800,"wires":[]},{"id":"150ff764.eeb0c9","type":"comment","z":"b86a0e84.31115","name":"Display Thermostat Temperature Gauge and Value","info":"","x":590,"y":680,"wires":[]},{"id":"bd5dfdd5.f43e6","type":"comment","z":"b86a0e84.31115","name":"set system_mode - off/auto/heat","info":"","x":530,"y":1100,"wires":[]},{"id":"77e1fcf6.f5cf24","type":"link in","z":"b86a0e84.31115","name":"Controller/heat/set/system_mode","links":["7348a41d.d606cc"],"x":1035,"y":300,"wires":[["f162af23.f476f"]]},{"id":"7348a41d.d606cc","type":"link out","z":"b86a0e84.31115","name":"Controller/heat/set/system_mode","links":["77e1fcf6.f5cf24"],"x":375,"y":1140,"wires":[]},{"id":"a92d95d2.946358","type":"comment","z":"b86a0e84.31115","name":"Display CH and HW running_state and temperature_setpoint_hold values","info":"","x":660,"y":960,"wires":[]},{"id":"18f0eda6.de1902","type":"comment","z":"b86a0e84.31115","name":"mqqt publish topics (set mqqt details here)","info":"","x":1180,"y":60,"wires":[]},{"id":"20ca2944.2d2136","type":"comment","z":"b86a0e84.31115","name":"mqqt subscribe topics (set mqqt details here)","info":"","x":230,"y":180,"wires":[]},{"id":"69eb0c12.4e1234","type":"ui_text","z":"b86a0e84.31115","group":"5e36e134.8d434","order":3,"width":6,"height":1,"name":"LQI","label":"LQI","format":"{{value}}","layout":"row-spread","x":630,"y":160,"wires":[]},{"id":"7a099a0.12acf68","type":"debug","z":"b86a0e84.31115","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":100,"wires":[]},{"id":"b416ce8b.6ae56","type":"json","z":"b86a0e84.31115","name":"","property":"payload","action":"","pretty":false,"x":250,"y":340,"wires":[["3b37b96.e200646"]]},{"id":"53521972.3dd778","type":"comment","z":"b86a0e84.31115","name":"mqqt publish topics to Domoticz mqqt  (set mqqt details here)","info":"","x":1460,"y":1860,"wires":[]},{"id":"7427cd4f.ea2b64","type":"comment","z":"b86a0e84.31115","name":"(Domoticz idx values refer to devices IDX)","info":"","x":240,"y":1820,"wires":[]},{"id":"5e36e134.8d434","type":"ui_group","name":"SLR2-SLT2/3","tab":"8e7d6bfd.e7b288","order":1,"disp":true,"width":"6","collapse":false},{"id":"20d8a650.22ff5a","type":"ui_group","name":"CH","tab":"8e7d6bfd.e7b288","order":2,"disp":true,"width":"6","collapse":false},{"id":"370859af.f6e036","type":"ui_group","name":"HW","tab":"8e7d6bfd.e7b288","order":3,"disp":true,"width":"6","collapse":false},{"id":"8e7d6bfd.e7b288","type":"ui_tab","name":"CH/HW Controller","icon":"dashboard","order":8,"disabled":false,"hidden":false}]